# Pandas

In [1]:
""""
pip install pandas   ------> to install pandas in vs code
import pandas as pd  (importing pandas and giving "pd" as alias name)

Panda is a python library used for manipulation and analysis.
It has 2 data structure:-
1)Series
2)Data frame

"""

'"\npip install pandas   ------> to install pandas in vs code\nimport pandas as pd  (importing pandas and giving "pd" as alias name)\n\nPanda is a python library used for manipulation and analysis.\nIt has 2 data structure:-\n1)Series\n2)Data frame\n\n'

In [2]:
import pandas as pd
import numpy as np

### 1)Series

In [4]:
# creating a series

ser = pd.Series() 
print("Pandas Series: ", ser,'\n') 

data = np.array(['g', 'e', 'e', 'k', 's']) 
  
ser = pd.Series(data) 
print("Pandas Series:\n", ser)

Pandas Series:  Series([], dtype: object)

Pandas Series:
 0    g
1    e
2    e
3    k
4    s
dtype: object

In [ ]:
s1=pd.Series([10,20,30,40,'hello',[1,2,4]])
print(s1)
print("***************************************************************************************************")
print(type(s1))
print("***************************************************************************************************")

s1[4]='hi'
s2=pd.Series([1,2,3,4,'world',[9]])
print(s1+s2)
print("***************************************************************************************************")
print(s1)
print("***************************************************************************************************")
print(s2)
print("***************************************************************************************************")
print(s1[4])

0           10
1           20
2           30
3           40
4        hello
5    [1, 2, 4]
dtype: object
*******************************************************************************************************************************
<class 'pandas.core.series.Series'>
*******************************************************************************************************************************
0              11
1              22
2              33
3              44
4         hiworld
5    [1, 2, 4, 9]
dtype: object
*******************************************************************************************************************************
0           10
1           20
2           30
3           40
4           hi
5    [1, 2, 4]
dtype: object
*******************************************************************************************************************************
0        1
1        2
2        3
3        4
4    world
5      [9]
dtype: object
*******************************************************************************************************************************
hi

In [10]:
s3=pd.Series([1,2,3,4,5,6,7,8,9],name="marks")
print(s3)
s4=s3[3:8:2]
print(s4)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
Name: marks, dtype: int64
3    4
5    6
7    8
Name: marks, dtype: int64

### 2)Data frame

In [11]:
df=pd.DataFrame({"Name":['Yami','Deepa',],
                 "Marks":[69,96],
                 "Rollno":[76,129]})

df

    Name  Marks  Rollno
0   Yami     69      76
1  Deepa     96     129